.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: #202020;
}

.filter {
  width: 5rem;
  height: 2.5rem;
  gap: 0px;
  background: #fbfbfb;
  border: 1px solid #e9e9e9;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  color: #272727;
}

#latest {
  border-radius: 6px 0 0 6px;
  border-right: none;
}

#popular {
  border-radius: 0 6px 6px 0;
  border-left: none;
}

.filter-active {
  font-size: 1.1rem;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: larger;
  }

  .filter {
    width: 4rem;
    height: 2.2rem;
    font-size: 0.8rem;
  }
}
